<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <%= render partial: 'portfolio_item', collection: @portfolio_items %>
   </div>
  </div>
</div>

<%= link_to 'Create new portfolio', new_portfolio_url if logged_in?(:portfolio_admin) %>