<main role="main" class="inner cover">
  <h1 class="cover-heading">I'm Emmanuel <br> Glad to See You!</h1>
  <p class="lead">I’m a software developer! I can help you build a product, 
  feature or website Look through some of my work and experience! If you like 
  what you see and have a project you need coded, don’t hestiate to contact me.
  </p>
  <p class="lead">
    <%= link_to 'About Me', about_path, class: 'btn btn-lg btn-secondary' %>
  </p>
</main>

   